:root {
  --dark: #052f5f;
  --neutral: #005377;
  --light: #eeebd3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', serif;
}

body {
  background-color: var(--neutral);
  width: 100vw;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#game-logo {
  height: 10rem;
  margin-bottom: 1rem;
  position: relative;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  -webkit-user-drag: none;
}

/* Dialogs */

dialog > .content {
  background-color: var(--light);
  padding: 2.5rem 4rem;
  border-radius: 2rem;
  outline: 4px solid var(--dark);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 0.01fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 1rem;
  z-index: 1;
}

dialog::backdrop {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
}

dialog p {
  font-size: 2.5rem;
  font-weight: 500;
  grid-column: span 2;
}

/* Game Mode Dialog */

dialog.game-modes .mode,
dialog.scoreboard .name {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

dialog.game-modes > .content > .mode-container {
  padding: 4rem 2rem;
  cursor: pointer;
}

dialog.game-modes > .content > .mode-container:hover {
  background: rgba(131, 131, 131, 0.5);
  box-shadow: 0 8px 32px 0 rgba(150, 150, 150, 0.7);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  outline: 1px solid rgba(255, 255, 255, 0.18);
}

dialog.game-modes img {
  height: 150px;
}

/* Scoreboard Dialog */

dialog.scoreboard {
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

dialog.scoreboard .score {
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
}

dialog.scoreboard .name {
  margin-top: 0;
}

dialog.scoreboard .close {
  font-size: 2rem;
  color: var(--light);
  background-color: var(--neutral);
  width: 50px;
  height: 50px;
  outline: 2px solid var(--dark);
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
}

dialog.scoreboard .close:hover {
  background-color: var(--light);
  color: var(--dark);
}

/* Board */

.title {
  color: var(--light);
  text-align: center;
  padding: 1rem 0;
}

.board {
  max-width: fit-content;
  max-height: fit-content;
  border: 4px solid var(--dark);
  display: grid;
  grid-template: repeat(10, 50px) / repeat(10, 50px);
  gap: 4px;
  position: relative;
}

.cell {
  width: 100%;
  height: 100%;
  background-color: var(--light);
}

/* Ships */

.ships {
  height: 680px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 45px 30px 4fr 4fr;
  gap: 1rem;
  overflow: hidden;
}

.ships > .title {
  padding-bottom: 0;
  grid-column: 1 / span 3;
}

.instruction {
  color: var(--light);
  font-size: 1.5rem;
  width: 600px;
  text-align: center;
  grid-column: 1 / span 3;
  justify-self: center;
}

.ships > div {
  background-color: var(--light);
  width: 334px;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  user-select: none;
  -webkit-user-drag: none;
}

.ships > div > .ship {
  margin: auto;
}

.ships > div > p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  user-select: none;
  -webkit-user-drag: none;
}

.ship {
  width: 290px;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: grab;
}

.ship:active,
.ship:focus {
  cursor: grabbing;
}

.block {
  width: 50px;
  height: 50px;
  background-color: var(--dark);
}

/* Buttons */

.board-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.ships > .rotate-button {
  width: 13rem;
  padding: 0.75rem 1rem;
  grid-row: 4;
  grid-column: 3;
  justify-self: end;
  align-self: end;
}

[class$='button'] {
  background-color: var(--light);
  font-size: 1.25rem;
  font-weight: 500;
  width: 10rem;
  height: fit-content;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
}

[class$='button']:hover {
  opacity: 0.75;
}

.play-again-button {
  width: 13rem;
  padding: 1rem 2rem;
  display: block;
  position: absolute;
  top: 57.5%;
  left: 50%;
  transform: translate(-50%, -57.5%);
}

/* Visibility */

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.cell.highlight {
  opacity: 0.5;
  cursor: grabbing;
}

.board-cover {
  color: var(--light);
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  height: 100%;
  background: rgb(49, 106, 131);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 2;
  transition:
    opacity 0.25s ease,
    visibility 0.25s ease;
}

/* Cell Styling */

.filled {
  background-color: var(--dark);
}

.not-selectable {
  cursor: initial;
  user-select: none;
  -webkit-user-drag: none;
}

.on-select {
  cursor: pointer;
}

.on-select:hover {
  opacity: 0.75;
}

.miss {
  opacity: 0.25;
}

.hit {
  background-color: #ff5b5b;
}

/* Loader */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral);
  z-index: 3;
  transition:
    opacity 0.75s ease-out,
    visibility 0.75s ease-out;
}

.loader::before {
  content: '';
  width: 75px;
  height: 75px;
  margin-bottom: 1rem;
  border: 15px solid var(--light);
  border-top-color: var(--dark);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
