:root {
  --dark: #052f5f;
  --neutral: #005377;
  --light: #eeebd3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', serif;
}

body {
  background-color: var(--neutral);
}

dialog.show {
  background-color: var(--light);
  padding: 2.5rem 4rem;
  border-radius: 2rem;
  outline: 4px solid var(--dark);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 0.01fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2rem;
}

dialog::backdrop {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
}

dialog > p {
  font-size: 2.5rem;
  font-weight: 500;
  grid-column: span 2;
}

dialog > div > p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

dialog > div {
  padding: 4rem 2rem;
  cursor: pointer;
}

dialog > div:hover {
  background: rgba(131, 131, 131, 0.5);
  box-shadow: 0 8px 32px 0 rgba(150, 150, 150, 0.7);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  outline: 1px solid rgba(255, 255, 255, 0.18);
}

dialog img {
  height: 150px;
}

#game-logo {
  height: 10rem;
  margin-bottom: 1rem;
  position: relative;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  -webkit-user-drag: none;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Board */

.title {
  color: var(--light);
  text-align: center;
  padding: 1rem 0;
}

.board {
  max-width: fit-content;
  max-height: fit-content;
  border: 4px solid var(--dark);
  display: grid;
  grid-template: repeat(10, 50px) / repeat(10, 50px);
  gap: 4px;
}

.cell {
  width: 100%;
  height: 100%;
  background-color: var(--light);
  cursor: pointer;
}

/* Ships */

.ships {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.ships > .title {
  padding-bottom: 0;
  grid-column: 1 / span 3;
}

.ships .instruction {
  color: var(--light);
  font-size: 1.5rem;
  width: 600px;
  text-align: center;
  grid-column: 1 / span 3;
  justify-self: center;
}

.ships > div {
  background-color: var(--light);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  user-select: none;
  -webkit-user-drag: none;
}

.ships > div > p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  user-select: none;
  -webkit-user-drag: none;
}

.ship {
  width: 266px;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: grab;
}

.ship:active,
.ship:focus {
  cursor: grabbing;
}

.block {
  width: 50px;
  height: 50px;
  background-color: var(--dark);
}

/* Buttons */

.boardBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.ships > .rotateBtn {
  padding: 0.75rem 1rem;
  grid-row: 4;
  grid-column: 3;
  justify-self: end;
  align-self: end;
}

.resetBtn,
.finishBtn,
.rotateBtn {
  background-color: var(--light);
  font-size: 1.25rem;
  font-weight: 500;
  width: 13rem;
  height: fit-content;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
}

.rotateBtn:hover,
.finishBtn:hover,
.resetBtn:hover {
  opacity: 0.75;
}

/* Visibility */

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.cell.highlight {
  opacity: 0.5;
  cursor: grabbing;
}

.filled {
  background-color: var(--dark);
}
